body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media(max-width:1000px) {
  .card-handler {
    flex: 0 0 45% !important;
  }
}

@media(max-width:900px) {
  .padding-handle {
    padding: 10px;
  }
}


@media(max-width:700px) {
  .card-handler {
    flex: 0 0 100% !important;
  }
}

@media(max-width:600px) {
  .alignment-handle {
    min-height: calc(100vh - 48px)
  }
}

@media(max-width:575px) {
  .responsive h4 {
    font-size: 24px;

  }

  .responsive .btn-add-new {
    font-size: 12px;
  }
}